<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Simple</title>
    <script>
      const canvas = document.getElementById('canvas');
      const ctx = canvas.getContext('2d');

      let animationFrames = [];
      let canvasFrames = [];

      gsap
        .timeline({
          onUpdate: () => {},
          onComplete: () => {},
        })
        .fromTo('#rect', { x: -50 }, { duration: 2, x: 350, ease: 'power.ease2' });
    </script>
  </head>
  <body>
    <main>
      <section>
        <svg
          id='svg'
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 400 200'
          width={400}
          height={200}
          style={{ border: '1px solid red' }}
        >
          <rect id='rect' x='0' y='75' width='50' height='50' fill='red'></rect>
        </svg>
        <canvas id='canvas' style={{ border: '1px solid blue' }} width={400} height={200}></canvas>
        <img id='image' width={400} height={200} style={{ border: '1px solid green' }} />
        <a id='link' download='simple.gif'>Download</a>
      </section>
    </main>
    <script is:inline src='https://unpkg.com/modern-gif'></script>
    <script is:inline src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js'></script>
  </body>
</html>
