@font-face {
  font-family: 'MijaBold';
  src: url('/fonts/Mija_Bold-webfont-subset-v2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ElenaRegular';
  src: url('/fonts/ElenaWebRegular-subset-v2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ElenaBold';
  src: url('/fonts/ElenaWebBold-subset-v2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ElenaItalic';
  src: url('/fonts/ElenaWebRegularItalic-subset-v2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
